﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body> 
    <div style="padding: 0px 10px 20px 10px;">
        <span class="spanTitle">@ViewBag.Title</span>
    </div>  
    <center>
    <table style="width:90%; background-color:#fff;">
        <tr>
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>
    </center>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
