﻿@model Inventeme.Web.Models.User

@{
    ViewBag.Title = "Inventeme Web - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<h6>Para acessar o sistema, forneça as suas credenciais abaixo:</h6>
<table>
    <tr>
        <td>
            Login:
        </td>
        <td>
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </td>
    </tr>
    <tr>
        <td>
            Senha:
        </td>
        <td>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="submit" value="Login" />
        </td>
    </tr>
</table>
}